body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  header {
    width: 992px;
  }
}
@media (max-width: 991.98px) {
  header {
    width: 767px;
  }
}
@media (max-width: 766.98px) {
  header {
    width: 576px;
  }
}
@media (max-width: 575.98px) {
  header {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .header {
    flex-direction: column;
    width: 100%;
  }
}
.header .img-logo {
  width: 180px;
  margin: 20px 10px;
}
@media (max-width: 992px) {
  .header .img-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 10px;
  }
}
.header .img-logo .burger {
  display: none;
}
@media (max-width: 992px) {
  .header .img-logo .burger {
    display: inline-block;
  }
}
.header .navbar {
  margin-right: 10px;
  font-size: 15px;
  line-height: 40px;
}
@media (max-width: 993px) {
  .header .navbar {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .header .navbar .menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .navbar .menu {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(112, 133, 133);
  }
}
@media (max-width: 992px) {
  .header .navbar .menu-item {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}

.photos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photos .row-top {
  display: flex;
  gap: 10px;
}
@media (max-width: 576px) {
  .photos .row-top {
    flex-direction: column;
  }
  .photos .row-top .left-photo,
.photos .row-top .right-photo {
    width: 100% !important;
  }
  .photos .row-top .top-photo,
.photos .row-top .bottom-photo {
    height: 40vh;
    font-size: 25px;
  }
  .photos .row-top .left-photo {
    height: 40vh;
  }
}
.photos .row-top .left-photo {
  width: 67%;
}
.photos .row-top .right-photo {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photos .row-bottom {
  margin-top: 10px;
  width: 100%;
  display: flex;
  height: 14vw;
}
@media (max-width: 576px) {
  .photos .row-bottom {
    flex-direction: column;
    height: auto !important;
  }
  .photos .row-bottom .top-photo {
    width: 100% !important;
    height: 40vh !important;
  }
  .photos .row-bottom .top-photo:nth-child(2) {
    margin: 0 !important;
    margin-top: 10px !important;
  }
  .photos .row-bottom .top-photo:nth-child(3) {
    margin: 0 !important;
    margin-top: 10px !important;
  }
}
.photos .row-bottom .top-photo {
  position: relative;
  width: 33%;
  height: 100%;
}
.photos .row-bottom .top-photo:nth-child(2) {
  margin: 0 10px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .container .left-part {
    width: 100% !important;
  }
  .container .right-part {
    width: 100% !important;
  }
  .container .photo-mining-left {
    margin-right: 0px !important;
  }
  .container .photo-mining-right {
    margin-left: 0px !important;
    margin-right: 0 !important;
  }
}
.container .left-part {
  width: 65%;
}
.container .left-part .crypto-mining {
  width: 100%;
}
.container .left-part .crypto-mining .flex-layout {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
@media (max-width: 992px) {
  .container .left-part .crypto-mining .flex-layout {
    flex-direction: column;
  }
}
.container .left-part .crypto-mining .flex-layout .photo-mining-left {
  margin-right: 15px;
}
.container .left-part .crypto-mining .flex-layout .photo-mining-right {
  margin-left: 15px;
  margin-right: 15px;
}
.container .right-part {
  width: 30%;
}
.container .right-part .popular-stores {
  width: 100%;
}
.container .right-part .post {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.text-yellow {
  color: rgb(255, 166, 0);
}

.header {
  z-index: 100;
}
.header .menu-link:hover {
  color: white;
}
@media (max-width: 992px) {
  .header .menu-link {
    transition: 0.5s all;
    font-weight: 800;
  }
  .header .menu-link:hover {
    color: rgb(0, 26, 255);
  }
  .header .menu-link:active {
    transform: scale(1.2);
  }
}
.header img {
  width: 180px;
  height: auto;
}
@media (max-width: 1000px) {
  .header img {
    width: 140px;
  }
}
.header .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-align: center;
}
.header .menu-item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.header .menu-item:nth-child(1) {
  width: 90px;
}
.header .menu-item:nth-child(2) {
  width: 180px;
}
.header .menu-item:nth-child(3) {
  width: 100px;
}
.header .menu-item:nth-child(4) {
  width: 100px;
}
.header .menu-item:nth-child(5) {
  width: 150px;
}
.header .menu-item:nth-child(2):hover ~ .animation {
  left: 115px;
  width: 200px;
}
.header .menu-item:nth-child(3):hover ~ .animation {
  left: 335px;
  width: 90px;
}
.header .menu-item:nth-child(4):hover ~ .animation {
  left: 445px;
  width: 110px;
}
.header .menu-item:nth-child(5):hover ~ .animation {
  left: 575px;
  width: 155px;
}
.header .menu-link {
  display: block;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.8px;
  color: black;
}
.header .menu .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: rgb(81, 7, 165);
  border-radius: 10px;
  transition: all 0.5s;
}
@media (max-width: 992px) {
  .header .menu .animation {
    opacity: 0;
  }
}
.header .menu .start-home,
.header .menu li:nth-child(1):hover ~ .animation {
  width: 90px;
  left: 10px;
}

.photos {
  font-size: 16px;
}
@media (max-width: 767px) {
  .photos {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .photos {
    font-size: 16px;
  }
}
.photos .top-photo,
.photos .bottom-photo,
.photos .left-photo {
  position: relative;
}
.photos .left-photo {
  height: 30vw;
}
.photos .top-photo,
.photos .bottom-photo {
  height: 14.6vw;
  border-radius: 10px;
}
.photos .bg-img1 {
  background: url("/image/slider-1-1200x900.jpg") bottom no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .bg-img2 {
  background: url("/image/slider-2-450x600.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .bg-img3 {
  background: url("/image/slider-3-450x600.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.photos .info-photo-left,
.photos .info-photo-right {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.photos .title-info {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 10px;
}
.photos .menu-bottom {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 5px;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  margin: 0 0 0 10px;
}
.photos .menu-bottom li {
  margin-right: 20px;
  font-size: 0.8em;
}
.photos .menu-bottom strong {
  font-size: 1.05em;
}
.photos .right-photo h3 {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 10px;
}
.photos .row-bottom .bg-img4 {
  background: url("/image/slider-4-450x600.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .row-bottom .bg-img5 {
  background: url("/image/slider-5-450x600.jpg") top no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .row-bottom .bg-img6 {
  background: url("/image/slider-6-450x600.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.photos .row-bottom .info-photo-right {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.photos .row-bottom h3 {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 10px;
}
.photos .row-bottom .menu-bottom {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 5px;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  margin: 0 0 0 10px;
}
.photos .row-bottom .menu-bottom li {
  margin-right: 20px;
  font-size: 0.8em;
}
.photos .row-bottom .menu-bottom strong {
  font-size: 1.05em;
}

.container .img-news {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
}
.container .header-news {
  border-bottom: 1px solid rgb(148, 143, 143);
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(51, 50, 50);
  font-size: 18px;
}
.container .left-part {
  font-size: 18px;
}
.container .left-part .news ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.container .left-part .news ul li {
  margin-right: 25px;
  font-size: 15px;
}
.container .left-part .news ul strong {
  color: rgb(56, 55, 55);
  transition: 0.2s all;
}
.container .left-part .news ul strong:hover {
  color: rgb(255, 166, 0);
}
.container .left-part .news a {
  transition: 0.2s all;
  color: rgb(51, 50, 50);
}
.container .left-part .news a:hover {
  color: rgb(255, 166, 0);
}
.container .left-part .news .description {
  color: rgb(17, 17, 17);
  font-size: 15px;
}
.container .left-part .crypto-mining .header-mining {
  border-bottom: 1px solid rgb(148, 143, 143);
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(51, 50, 50);
  font-size: 18px;
}
.container .left-part .crypto-mining .photo-mining-left img {
  width: 100%;
  filter: contrast(90%);
  border-radius: 10px;
}
.container .left-part .crypto-mining .photo-mining-right img {
  width: 100%;
  filter: contrast(90%);
  border-radius: 10px;
}
.container .left-part .crypto-mining ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.container .left-part .crypto-mining ul li {
  margin-right: 20px;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .container .left-part .crypto-mining ul li {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .container .left-part .crypto-mining ul li {
    margin-right: 30px;
  }
}
.container .left-part .crypto-mining ul strong {
  color: rgb(56, 55, 55);
  transition: 0.2s all;
}
.container .left-part .crypto-mining ul strong:hover {
  color: rgb(255, 166, 0);
}
.container .left-part .crypto-mining a {
  font-size: 15px;
  transition: 0.2s all;
  color: rgb(51, 50, 50);
}
.container .left-part .crypto-mining a:hover {
  color: rgb(255, 166, 0);
}
.container .right-part .menu-right {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container .right-part .menu-right li {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
  transition: 0.3s all;
}
.container .right-part .menu-right li:hover {
  color: white;
  background-color: rgb(81, 7, 165);
}
.container .right-part .menu-right li:active {
  transform: scale(0.95);
}
.container .right-part .popular-stores {
  margin-top: 30px;
}
.container .right-part .post {
  margin-top: 50px;
  height: 100px;
  border-radius: 10px;
}
.container .right-part .post img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.container .right-part .post .info-right {
  margin-left: 10px;
  height: 100px;
  position: relative;
  font-size: 15px;
  padding: 5px 0;
}
@media (max-width: 1200px) {
  .container .right-part .post .info-right {
    font-size: 12px;
  }
}
.container .right-part .post .info-right a {
  transition: 0.2s all;
  color: rgb(51, 50, 50);
}
.container .right-part .post .info-right a:hover {
  color: rgb(255, 166, 0);
}
.container .right-part .post .menu-post {
  display: flex;
  font-size: 12px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  bottom: 10px;
}
.container .right-part .post .menu-post li {
  margin-right: 25px;
}
.container .right-part .post .menu-post li strong {
  color: rgb(56, 55, 55);
  transition: 0.2s all;
}
.container .right-part .post .menu-post li strong:hover {
  color: rgb(255, 166, 0);
}
.container .right-part .heading-popular {
  border-bottom: 1px solid rgb(148, 143, 143);
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(51, 50, 50);
  font-size: 18px;
}
.container .right-part .form {
  margin-top: 80px;
  width: 100%;
}
.container .right-part .form .header-form {
  border-bottom: 1px solid rgb(148, 143, 143);
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(51, 50, 50);
  font-size: 18px;
}
.container .right-part .form .description-form {
  padding: 30px 0 20px 0px;
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 15px;
}
.container .right-part .form form {
  position: relative;
}
.container .right-part .form form input {
  width: 100%;
  padding: 15px 15px;
  border: 1px solid rgb(255, 166, 0);
  border-radius: 10px;
}
.container .right-part .form form input:focus {
  outline: 1.5px solid rgb(255, 166, 0);
}
.container .right-part .form form .btn-form {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: rgb(255, 166, 0);
  border: none;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */