body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.clear-fix {
    clear: both;
}


// ریسپانسیو سازی سایت

header,
.footer {
    width: 1200px;
    margin: 0 auto;

    @media (max-width: 1199.98px) {
        width: 992px;
    }

    @media (max-width: 991.98px) {
        width: 767px;
    }

    @media (max-width: 766.98px) {
        width: 576px;
    }

    @media (max-width: 575.98px) {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        flex-direction: column;
        width: 100%;
    }

    .img-logo {
        width: 180px;
        margin: 20px 10px;

        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            width: 100%;
            padding: 10px;
        }

        .burger {
            display: none;
            border: none;
            background-color: transparent;

            @media (max-width: 992px) {
                display: inline-block;
            }

        }
    }

    .navbar {
        margin-right: 10px;
        font-size: 15px;
        line-height: 40px;

        @media (max-width: 993px) {
            width: 100%;
            margin-right: 0;
        }

        .menu {
            @media (max-width: 992px) {
                display: none;
            }

            @media (max-width: 992px) {
                margin: 0 auto;
                width: 100%;
                background-color: rgb(112, 133, 133);
            }
        }

        .menu-item {
            @media (max-width: 992px) {
                display: block;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
                width: 100% !important;
            }
        }

    }
}






.photos {
    width: 100%;
    display: flex;
    flex-direction: column;

    .row-top {
        display: flex;
        gap: 10px;

        @media (max-width: 576px) {
            flex-direction: column;

            .left-photo,
            .right-photo {
                width: 100% !important;
            }

            .top-photo,
            .bottom-photo {
                height: 40vh;
                font-size: 25px;
            }

            .left-photo {
                height: 40vh;
            }
        }

        // background-color: aqua;

        .left-photo {
            // background-color: burlywood;
            width: 67%;
        }

        .right-photo {
            width: 33%;
            // background-color: chartreuse;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }

    .row-bottom {
        margin-top: 10px;
        width: 100%;
        display: flex;
        height: 14vw;

        @media (max-width: 576px) {
            flex-direction: column;
            height: auto !important;

            .top-photo {
                width: 100% !important;
                height: 40vh !important;

                &:nth-child(2) {
                    margin: 0 !important;
                    margin-top: 10px !important;
                }

                &:nth-child(3) {
                    margin: 0 !important;
                    margin-top: 10px !important;
                }
            }
        }


        .top-photo {
            position: relative;
            width: 33%;
            height: 100%;

            &:nth-child(2) {
                margin: 0 10px;
            }
        }
    }
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;

    @media (max-width: 992px) {
        flex-direction: column;

        .left-part {
            width: 100% !important;
        }

        .right-part {
            width: 100% !important;
        }

        .photo-mining-left {
            margin-right: 0px !important;
        }

        .photo-mining-right {
            margin-left: 0px !important;
            margin-right: 0 !important;
        }
    }

    .left-part {
        width: 65%;

        .crypto-mining {
            width: 100%;

            .flex-layout {
                display: flex;
                justify-content: space-around;
                margin-top: 40px;

                @media (max-width: 992px) {
                    flex-direction: column;
                }

                .photo-mining-left {
                    margin-right: 15px;
                }

                .photo-mining-right {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }

        }

    }

    .right-part {
        width: 30%;

        .popular-stores {
            width: 100%;
        }

        .post {
            display: flex;
            align-items: center;
        }
    }
}


footer {
    @media (max-width: 576px) {
        .footer-sotial-media {
            justify-content: center !important;
        }

        .footer-menu {
            justify-content: center !important;
        }

        .row-top {
            flex-direction: column;
        }

        .column,
        cloumn-left {
            width: 60% !important;
        }
    }

    .row-top {
        display: flex;
        padding-top: 30px;
        width: 100%;
        font-size: 20px;
    }

    .row-bottom {
        width: 100%;
    }
}